@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.nav{
    background: white;
    width: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
}

.container{
    width: 85.71%;
    margin-left: auto;
    margin-right: auto;
}

.nav-container{
    display: flex;
    justify-content:  space-between;
    align-items: center;
}

.logo img{
    width: 89.55px;
    height: 68px;
}

.nav-links ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

.nav-links ul li a {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #344054;
}

.nav-button{
    display: flex;
    align-items: center;
    gap: 12px;
}


.login-button{
    background: none;
    padding: 8px 27px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    font-family: Nunito, sans-serif;
    border: 1px solid #D0D5DD;
    color: #000000; 
}

.book-button{
    background: none;
    padding: 8px 27px;
    border-radius: 24px;
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    font-family: Nunito, sans-serif;
    border: 1px solid #A657E7;
    color: #A657E7;
}

.header{
    background: #F5F5F5;
    min-height: 100vh;
    padding-bottom: 60px;
}

.hero-container{
    display: flex;
    gap: 24px;
    padding-top: 80px;
}

.hero-left{
    width: 50%;
}

.hero-right{
    width: 50%;
}

.all-talent{
    width: fit-content;
    background: white;
    padding: 8px 16px;
    border-radius: 16px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.all-talent i {
    color: #344054;
    font-size: 24px;
}

.all-talent p {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.hero-left-text h1{
    font-family: Poppins;
font-weight: 600;
font-size: 48px;
line-height: 65px;
letter-spacing: -2%;
margin-top: 12px;

}

.hero-left-text p{
    font-family: Inter;
font-weight: 400;
font-size: 18px;
line-height: 32px;
letter-spacing: 0%;
color: #344054;
margin-top: 12px;
}

.hero-left-button{
    display: flex;
    gap: 24px;
    margin-top: 28px;
}

.get-started-button{
padding: 8px 27px;
border: none;
background: linear-gradient(177.38deg, #B564F7 8.45%, #6A2F9B 98.78%);
border-radius: 24px;
font-family: Poppins;
font-weight: 400;
font-size: 18px;
line-height: 160%;
letter-spacing: 0%;
color: white;
}

.hero-img-container {
    position: relative;
    width: 295px;
    height: 397px;
    border-radius: 20.55px;
    background: url('./assets/hero-img.png') center/cover no-repeat;
  }
  
  .hero-img-container::before {
    content: "";
    position: absolute;
    border-radius: 20.55px;
    inset: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  }
  
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 18px;
    padding-right: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
  }

  
.hero-right{
    display: flex;
    gap: 20px;
}
  
.hero-bottom{
    margin-top: 36px;
}

.hero-social{
    width: 496px;
height: 130px;
background: white;
padding: 20px 24px;
border-radius: 16px;
display: flex;
flex-direction: column;
place-self: end;
}

.hero-social p{
    font-family: Poppins;
font-weight: 500;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: #000000;
}

.hero-social-icons{
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
}

.hero-social-icons img{
    width: 50px;
    height: 50px;
    background-color: #E6E6E6;
    padding: 10px;
    border-radius: 100%;
}

.partner-section{
    background: white;
    height: 226px;
    width: 100%;
    display: flex;
    align-items: center;
}

.partner-container{
    display: flex;
    align-items: center;
}

.stats-content{
    width: 370px;
}

.stats-content h3{
    font-family: Poppins;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;   
}

.stats-content p{
    font-family: Poppins;
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;

}

.divider {
    width: 130px;
    height: 1px;
    border: 1px solid transparent;
    border-image-source: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.44%, rgba(102, 102, 102, 0) 100%);
    border-image-slice: 1;
    transform: rotate(90deg);
}

.partner-logo {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 100%;
    position: relative;
    white-space: nowrap;
}

.marquee {
    display: flex;
    gap: 27px;
    width: max-content;
    animation: marquee 10s linear infinite;
}

.marquee img {
    height: 50px;
    width: auto;
    flex-shrink: 0;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

.marquee:hover {
    animation-play-state: paused;
}


.faq-section{
    background: #F5F5F5;
    padding: 190px 0px;
}

.faq-title{
    text-align: center;
}

.faq-title h2{
    font-family: Poppins;
font-weight: 700;
font-size: 48px;
line-height: 100%;
letter-spacing: -1%;
color: #1E1E1E;
}

.faq-title p{
    font-family: Poppins;
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
color: #1D2939;
margin-top: 24px;
margin-bottom: 40px;
}


.accordion-item {
    margin-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
}

.accordion-header {
    background-color: white;
    color: white;
    padding: 24px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}


.accordion-header h3 {
    font-family: Poppins;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #1D2939;
letter-spacing: 0%;

}

.accordion-icon {
    color: #141517;
    border: 1px solid #141517;
    border-radius: 100%;
    padding: 2px 2.5px;
    transition: transform 0.3s ease;
}

.accordion-content {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.accordion-content-inner {
    font-family: Poppins;
font-weight: 400;
font-size: 18px;
line-height: 30px;
letter-spacing: 0%;
padding: 24px;
color: #949494;
}

.accordion-item.active .accordion-header {
    background-color: white;
}

.accordion-item.active .accordion-icon {
    transform: rotate(0deg);
    color: #9E9E9E;
    border-color: #9E9E9E;
}

.accordion-item.active .accordion-content {
    max-height: 500px;
}

.footer{
    background: white;
    padding: 46px 0;
}

.footer-top{
    display: flex;
    justify-content: space-between;
}

.footer-about-us{
    max-width: 325px;
}

.footer-about-us img{
    width: 100px;
    margin-bottom: 32px;
}

.footer h3{
    font-family: Poppins;
font-weight: 600;
font-size: 18px;
line-height: 132%;
letter-spacing: -2%;
margin-bottom: 16px;
text-transform: capitalize;
color: #000000;
}

.footer ul{
    list-style: none;
}

.footer ul li a{
    text-decoration: none;
    font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 212%;
letter-spacing: 0%;
color: #344054;
}

.footer-about-us p{
    font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 164%;
letter-spacing: 0%;
margin-bottom: 32px;
color: #344054;
}

.footer-contact-us{
    max-width: 295px;
}

.footer-contact-us input{
    width: 100%;
    height: 40px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    background: none;
    font-family: Inter;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: -2%;
padding: 8px;
margin-bottom: 24px;
}
.footer-contact-us textarea{
    width: 100%;
    height: 88px;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    background: none;
    font-family: Inter;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: -2%;
padding: 8px;
margin-bottom: 20px;
}

.footer-contact-us button{
    background: #1D1D1D;
    padding: 8px 0px;
    width: 100%;
    border: none;
    border-radius: 8px;
    font-family: Poppins;
font-weight: 500;
font-size: 14px;
line-height: 160%;
letter-spacing: 0%;
color: white;
display: flex;
align-items: center;
justify-content: center;
gap: 8px;
}

.footer-divider{
    border: 1px solid #D0D5DD;
    margin-top: 40px;
    margin-bottom: 24px;
}

.footer-bottom{
    font-family: Poppins;
font-weight: 400;
font-size: 14px;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
color: #000000;
}

.footer-button{
    display: flex;
    align-items: center;
    gap: 24px;
}

.testimonial-section{
    background: #F5F5F5;
    padding-top: 190px;
}

.testimonial-title{
    text-align: center;
}

.testimonial-title h2{
    font-family: Poppins;
font-weight: 700;
font-size: 48px;
line-height: 124%;
letter-spacing: -1%;
color: #000000;
}


.testimonial-slider-container {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 48px;
}

.testimonial-slider {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.testimonial-slider-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 16px;
    transition: transform 0.5s ease-in-out;
}

.testimonial-slider-card {
    width: 256px;
    height: 317px;
    flex-shrink: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    position: relative;
    margin-right: 10px;
}

.testimonial-slider-card img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 24px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease;
}



.testimonial-info {

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.avatar {
    width: 40px !important;
    height: 40px !important;
    border-radius: 100% !important;
    margin-right: 10px;
    border: 2px solid white;
    object-fit: cover;
    display: block;
}

.name {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: white;
}

.title {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #F9FAFB;
}


.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 100%;
    z-index: 10;
}

.prev { left: 10px; }
.next { right: 10px; }


.testimonial-cards-container{
    margin-top: 32px;
}

.testimonial-card {
    width: 586px;
height: 267px;
padding: 24px 37px;
border-radius: 14px;
background: white;
border: 1px solid #009FE254;
}

.bottom-cards .testimonial-card {
    width: 390px;
height: 319px;
padding: 24px 37px;
border-radius: 14px;
background: white;
border: 1px solid #009FE254;
}

.testimonial-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}
.bottom-cards .testimonial-card__header {
    display: block;
    margin-bottom: 24px;
}


.testimonial-card__user {
    display: flex;
    align-items: center;
}


.top-cards{
    display: flex;
    justify-content: space-between;
}

.testimonial-card__avatar {
    width: 47px;
    height: 47px;
    border-radius: 100%;
}

.avatar-container{
    border: 1px dashed #DF5929;
    border-radius: 100%;
    width: 57px;
    height: 57px;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-right: 12px;
}

.testimonial-card__name {
    font-family: Poppins;
font-weight: 600;
font-size: 18px;
line-height: 24px;
letter-spacing: 0%;
color: #1B1D20;
}

.testimonial-card__position {
    font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #344054;
}

.testimonial-card__rating {
    display: flex;
    align-items: center;
}
.bottom-cards .testimonial-card__rating {
    display: flex;
    align-items: center;
    margin-left: 70px;
}

.testimonial-card__star {
    color: #344054;
    font-size: 17px;
    margin-right: 6px;
}

.testimonial-card__rating-score {
    font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #1D2939;
}

.testimonial-card__text {
    font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0%;
color: #344054;
}

.testimonial-card__quote {
    font-size: 20px;
    color: #c0c0c0;
}

.bottom-cards{
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}

.why-shorts-section{
    background: white;
    padding: 40px 0px;
}

.why-shorts-container{
 display: flex;
 align-items: center;
 gap: 48px;
}

.why-shorts-left{
    width: 480px;
    height: 501px;
    border-radius: 16px;
}

.why-shorts-left img{
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.why-shorts-right{
    width: 672px;
}

.why-shorts-right h2{
    font-family: Inter;
font-weight: 700;
font-size: 48px;
line-height: 124%;
letter-spacing: -1%;
color: #000000;
}

.why-shorts-right p{
    font-family: Poppins;
font-weight: 400;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: #344054;
margin-top: 20px;
}